.dashboard-container {
    padding: 50px;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #ddd;
    margin: 50px auto;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.dashboard-container h1 {
    margin-top: 0;
    color: #1a1a1a;
}

.dashboard-welcome-message {
    font-size: 18px;
    color: #1a1a1a;
}


.user-info {
    margin-top: 30px;
    font-size: 16px;
    color: #1a1a1a;
}

.user-info p {
    margin: 8px 0;
}


.logout-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.logout-button:hover {
    background-color: #c82333;
}
